# Cada Pull Request requer revisao do mantenedor.
# Referencia: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       @augustodomingosluis
